# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
**/__pycache__/
# Virtual environment
env/
venv/

# Django specific files
*.sqlite3
db.sqlite3
*.log

# Ignore static and media files (optional)
staticfiles/
media/

# Ignore environment files
.env

